[run]
omit =

[report]
omit =
    authentication/admin.py,
    authentication/models.py ,
    core/admin.py,
    core/exceptions.py,
    core/models.py,
    core/filters.py ,
    payment/admin.py,
    payment/models.py,
    authentication/signals.py

