files:
##Elasticbeanstalk configuration logs##
  "/opt/elasticbeanstalk/tasks/taillogs.d/eon_error.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eon/error.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/eon_debug.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eon/debug.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/eon_info.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eon/info.log
  "/opt/elasticbeanstalk/tasks/taillogs.d/eon_warning.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/eon/warning.log
