commands:
  command1:
    command: sudo yum install -y gcc python-setuptools python-devel postgresql-devel
  command2:
    command: sudo mkdir -p /var/log/eon
  command3:
    command: sudo chmod -R g+s /var/log/eon
  command4:
    command: sudo chown -R wsgi:wsgi /var/log/eon

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate &&  python3 manage.py migrate --noinput && python3 manage.py collectstatic --noinput"
    leader_only: true

option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static/
