{% extends "admin/base.html" %}
{% load static %}

{% block stylesheets %}
{{ block.super }}
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link href="/static/grappelli/jquery/ui/jquery-ui.min.css" rel="stylesheet" type="text/css" media="screen">
<link href="/static/grappelli/stylesheets/screen.css" rel="stylesheet" type="text/css" media="all">
<link href="/static/grappelli/stylesheets/mueller/grid/output.css" rel="stylesheet" type="text/css" media="screen">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link rel="stylesheet" href="{% static 'core/css/base.css' %}"/>
<script src="{% static 'core/js/base.js' %}"></script>
{% endblock %}

{% block content %}

<div class="box" style="display: grid; width:98%" >
    <div style="display: flex; width:100%">
        <div>
            <div class="card">
                <div class="container">
                    <h1 id="revenue" class="text-color">Rs. {{ total_revenue }}</h1>
                    <p style="color: #4fb2d3;">Total Revenue</p>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <h1 id="ongoing_event" class="text-color">{{ event_on_going_count }} </h1>
                    <p style="color: #4fb2d3;">Ongoing Event Count</p>
                </div>
            </div>
        </div>
        <div class="chart" id="chart" style=" width:25%; height: 220px;">
            <canvas id="piechart" height="200"></canvas>
        </div>
        <div class="chart" id="chart1" style="width:60%; height:420px;">
            <canvas id="linechart" style="width:80%" height="400"></canvas>
        </div>
    </div>
    <div class="chart" id="chart2" style="width:98%; margin-top:7%">
        <canvas id="mixchart" style="width:80%" height="300"></canvas>
    </div>
</div>
<div class="grp-module">
    <div class="grp-row">
         <div class="l-2cr-fluid l-d-12">
            <aside class="c-1" style="display:flex">
                <header style="display:none">
                    <h1>Search &amp; Filters</h1>
                </header>
                <div id="search" class="g-d-6 g-d-l">
                    <input type="text" name="event_name" id="grp-changelist-search pass" class="grp-search-field" value="">
                    <button type="submit" value="" class="grp-search-button user" onclick="update_dashboard(this)"></button>
                </div>
                <div id="grp-filters" class="g-d-6 g-d-l">
                    <div class="grp-filter">
                        <div class="grp-pulldown-container">
                            <a href="javascript://" class="grp-button grp-pulldown-handler">Filter</a>
                            <div class="grp-pulldown-content disp" >
                                <div class="grp-module">
                                    <div class="grp-row">
                                        <label>Event Status</label>
                                        <select class="grp-filter-choice" id="filtering" onchange="update_dashboard(this)">
                                            <option value="all" selected="selected">All</option>
                                            <option value="completed">Completed</option>
                                            <option value="ongoing">Ongoing</option>
                                            <option value="cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="c-2">
            <nav class="grp-pagination">
                <header style="display:none">
                    <h1>Pagination</h1>
                </header>
                <ul>
                    <li class="grp-results">
                        <span id="count1">{{total_count}} total</span>
                    </li>
                </ul>
            </nav>
            </div>
         </div>
     </div>
 </div>
<div class="grp-changelist-results grp-module">
    <table cellspacing= "0" class="grp-table" id="rank_table">
        <thead>
            <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc; font-weight:bold">Event</p></div>
            </th>
            <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc;font-weight:bold">No Of Tickets</p></div>
            </th>
            <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc;font-weight:bold">Booked Tickets</p></div>
            </th>
            <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc;font-weight:bold">Revenue Generated</p></div>
            </th>
                <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc;font-weight:bold">Status</p></div>
            </th>
            </th>
                <th class="sortable column-dealer sorted ascending" scope="col">
                <div class="grp-text"><p style="padding:5px 15px 2px 15px; color:#59afcc;font-weight:bold">Event Created By</p></div>
            </th>
        </thead>
        <tbody>
        {% for data in event_which_has_subscribers %}
            <tr class="grp-row">
                <th>{{ data.name }}</th>
                <td>{{ data.total_tickets }}</td>
                <td>{{ data.total_sold_tickets }}</td>
                <td>{{ data.final_amount }}</td>
                <td>{{ data.status}}</td>
                <td>{{ data.event_created_by }}</td>
            </tr>
        {% endfor %}
        {% for data in events_not_subscribed %}
            <tr class="grp-row">
                <th>{{ data.name }}</th>
                <td>{{ data.no_of_tickets }}</td>
                <td>{{ data.sold_tickets }}</td>
                <td>{{ data.sold_tickets }}</td>
                <td>{{ data.status}}</td>
                <td>{{ data.event_created_by }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="grp-module">
    <div class="grp-row">
        <nav class="grp-pagination">
            <header style="display:none">
                <h1>Pagination</h1>
            </header>
            <ul>
                <li class="grp-results">
                    <span id="count">{{total_count}} total</span>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    $(document).ready(() => {
        $("tr:odd").addClass('grp-row-odd');
        $("tr:even").addClass('grp-row-even');
    })
</script>
<script>
var ctx = document.getElementById("piechart").getContext('2d');
var piechart = new Chart(ctx, {
    type: 'pie',
    data: {{ data|safe }},
});

var ctx = document.getElementById("mixchart").getContext('2d');
var mixedChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'Completed',
            data: {{ completed|safe }},
            type: 'line',
            backgroundColor: 'rgba(255, 255, 255, 0)',
            borderColor: 'rgba(0,255,127, 1)',
            borderWidth: 1,
        },
         {
            label: 'Ongoing',
            data: {{ ongoing|safe }},
            type: 'line',
            backgroundColor: 'rgba(255, 255, 255, 0)',
            borderColor: 'rgba(255,140,0, 1)',
            borderWidth: 1,
        },
         {
            label: 'Cancelled',
            data: {{ cancelled|safe }},
            type: 'line',
            backgroundColor: 'rgba(255, 255, 255, 0)',
            borderColor: 'rgba(255,0,0, 1)',
            borderWidth: 1,
        },
        ],
        labels: {{ event_organisers|safe }}
    },
    options: {
        scales:
        {
            yAxes:
            [{
                  scaleLabel:
                  {
                        display: true,
                        fontSize: 14,
                        fontStyle: 'bold',
                        labelString: 'Count of events'
                  }
            }],
            xAxes:
            [{
                  scaleLabel:
                  {
                        display: true,
                        fontSize: 14,
                        fontStyle: 'bold',
                        labelString: 'Organisers'
                  }
            }],
        }
    }
});

var ctx = document.getElementById("linechart").getContext('2d');
var lineChart = new Chart(ctx, {
    type: 'bar',
    data: {{ data2|safe }},
    options: {
	    hover: {mode: null},
	    scales:{
	        xAxes:[
		        {
                    stacked: true,
                    id: "bar-x-axis1",
		        },
			    {
                    display: false,
                    stacked: true,
                    id: "bar-x-axis2",
                    offset: true
		        },
		    ],
	        yAxes:[{
                ticks:{
                    beginAtZero: true
                },
                stacked:false,
                scaleLabel:
                {
                    display: true,
                    fontSize: 14,
                    fontStyle: 'bold',
                    labelString: 'Total tickets vs Sold tickets'
                },
		    }],
	    },
    legend:
    {
        display: false
    },
}
});
</script>
<script>
    document.onkeydown=function(evt){
        var keyCode = evt ? (evt.which ? evt.which : evt.keyCode) : event.keyCode;
        if(keyCode == 13)
        {
            update_dashboard();
        }
    }
</script>
<script type="text/javascript" charset="utf-8">
    grappelli.initFilters = function(method) {
        $("a.grp-pulldown-handler").on("click", function() {
            var pulldownContainer = $(this).closest(".grp-pulldown-container");
            if ($(pulldownContainer).toggleClass("grp-pulldown-state-open").children(".grp-pulldown-content").hasClass('disp1') )
            {
                $(pulldownContainer).toggleClass("grp-pulldown-state-open").children(".grp-pulldown-content").removeClass('disp1');
                $(pulldownContainer).toggleClass("grp-pulldown-state-open").children(".grp-pulldown-content").addClass('disp');
            }
            else
            {
                $(pulldownContainer).toggleClass("grp-pulldown-state-open").children(".grp-pulldown-content").removeClass('disp');
                $(pulldownContainer).toggleClass("grp-pulldown-state-open").children(".grp-pulldown-content").addClass('disp1');
            }
        });
        $("a.grp-pulldown-handler").on('mouseout', function() {
            $(this).blur();
        });
    };
    (function($) {
        grappelli.initFilters();
    })(grp.jQuery);
</script>
{% endblock %}
