{% extends "admin/index.html" %}

{% block content %}
<style>
.quick_button {
    background-color: #EEE; /* Green */
    border: 2px solid #EEE
    text-align: center;
    width: 227px;
    height: 30px;
    color: #0aa6c4;
    font-size: 14px;
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.quick_button:hover {
    background-color: #EEE; /* Green */
    color: black;
}
</style>
    <div style="margin-bottom:17px">
        <div>
            <span>
                <a href="{% url 'report' %}"><button class="quick_button">
                <strong>Event Analytics Dashboard</strong>
                </button></a>
            </span>
        </div>
    </div>
{{ block.super }}
{% endblock %}
